.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;

  &Image {
    width: 100%;

    height: 800px;
    object-fit: contain;
    position: relative;
    inset: 0;
    top: 0px;
    opacity: 0.9;
    z-index: -1;
  }
}

.musicHero {
  display: flex;
  flex-direction: column;
  position: relative;

  &Image {
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative;
    inset: 0;
    top: 0px;
    opacity: 0.9;
    z-index: -1;
  }
}

@keyframes shimmer {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-luckiest-guy);
  font-size: 350px;
  font-weight: 200;
  color: transparent;
  -webkit-text-stroke: 1px rgb(20, 20, 20);
  letter-spacing: 10px;
  z-index: 1;
  filter: drop-shadow(10px 0px 4px rgba(90, 90, 90, 100));

  &Music {
    filter: none;
    font-family: inherit;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) scaleX(1.5) scaleY(0.7);
    -webkit-text-stroke: 3px rgb(198, 198, 198);
    letter-spacing: -5px;
    z-index: 5;
    font-size: 450px;
    font-weight: 600;
  }


  &Image {
    width: 100%;
    height: 700px;
    object-fit: contain;
    position: absolute;
    inset: 0;
    top: -80px;
    opacity: 0.9;
  }
}
