.page {
  height: 100%;
  width: 100%;
  position: relative;
}

.main {
  height: 600px;
  width: 100%;
  display: flex;
  margin-top: 30px;

  &TopAuthor {
  
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;

    &Head {
      display: flex;
      width: 100%;
      max-width: 400;
      height: 100%;
      justify-content: flex-end;
      align-items: flex-end;
      box-sizing: border-box;

      &Text {
        text-transform: uppercase;
        font-size: 14px;
        font-family: Avantgarde, sans-serif;
        font-weight: 600;
        white-space: nowrap;
        text-align: right;
        max-width: 200px;
        text-overflow: ellipsis;
        opacity: 0.79;
        margin-right: 8px;
      }

      &Name {
        text-transform: uppercase;
        font-family: var(--font-luckiest-guy);
        font-size: 112px;
        font-weight: 200;
        line-height: 0.8;
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: scaleY(2);
        transform-origin: bottom;
        letter-spacing: 4px;
        margin-right: 65px;
        margin-left: 5px;
        opacity: 0.9;
      }
    }

    &Cover {
      height: 100%;
      display: flex;
      justify-content: center;

      &Image {
        height: 100%;
        width: 100%;
        max-width: 800px;
        padding: 50px;
        padding-top: 5px;
      }
    }
  }

  &TopSongs {
    height: 100%;
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px; 
  }  
}

.topSongsHeader {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
}
  
  .topSongsBackground {
    font-family: var(--font-luckiest-guy);
  font-size: 180px;
  font-weight: 200;
  color: #000;
  letter-spacing: 4px;
  transform: scaleY(2);
  transform-origin: bottom;
  z-index: 0;

  
  position: static;
  align-self: flex-start;
  }
  
  .topSongsTitle {
    position: absolute;
    bottom: 0; 
    left: calc(100% + 10px); 
    text-transform: uppercase;
    font-size: 14px;
    font-family: Avantgarde, sans-serif;
    font-weight: 600;
    opacity: 0.79;
    z-index: 1;
  }