.page {
  height: 100%;
  width: 100%;
  position: relative;
}

.main {
  height: 600px;
  width: 100%;
  display: flex;
  margin-top: 30px;

  &TopAuthor {
    border: 1px solid black;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;

    &Head {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      align-items: flex-end;
      box-sizing: border-box;

      &Text {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        text-align: right;
        max-width: 200px;
        text-overflow: ellipsis;
        letter-spacing: 0;
      }

      &Name {
        text-transform: uppercase;
        font-size: 112px;
        font-weight: 900;
        line-height: 0.8;
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: scaleY(2);
        transform-origin: bottom;
        letter-spacing: -10px;
        margin-right: 65px;
      }
    }

    &Cover {
      height: 100%;

      &Image {
        height: 100%;
        width: 100%;
        padding: 50px;
        padding-top: 5px;
      }
    }
  }

  &TopSongs {
    border: 1px solid black;
    height: 100%;
    width: 45%;
  }
}