.searchBar {
  width: 100%;
  height: 100%;
  position: relative;

  &Input {
    width: 100%;
    height: 100%;
    padding: 16px 16px 16px 76px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.95);

    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
      font-size: 15px;
      text-transform: uppercase;
    }
  }

  &Button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &Icon {
    width: 56px;
    height: 56px;
    color: #000;
    transition: all 0.3s ease-in-out;

    // make hover effect
    &:hover {
      color: #000;
      transform: scale(1.1);
    }

    &:active {
      color: #000;
      transform: scale(0.9);
    }
  }
}